@model IEnumerable<ZennoSite.Areas.Admin.Models.IP>

@{
    ViewData["Title"] = "IP адреса";
}

<h2>IP адреса</h2>

@*<p>
    <a asp-action="Create">Create New</a>
</p>*@
<table class="table">
    <thead>
        <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Address)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.RequestCount)
                </th>
            <th>
                @Html.DisplayNameFor(model => model.IsBanned)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AuthorizationCount)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                <a asp-controller="LicenseSessions" asp-action="Index" asp-route-ip="@item.Address">
                    @Html.DisplayFor(modelItem => item.Address)
                </a>
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RequestCount)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsBanned)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AuthorizationCount)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Редактировать</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Детали</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Удалить</a>
            </td>
        </tr>
}
    </tbody>
</table>
